{% extends "base.html" %}

{% block content %}
  <h3>Add Machine:</h3>

  <form method="POST" action="{{ url_for('add_machine') }}">
    <div class="mb-3">
      <label for="machine_name" class="form-label">Machine Name</label>
      <input type="text" minlength="3" maxlength="25" class="form-control" name="machine_name" id="machine_name" required>
    </div>

    <div class="mb-3">
      <label for="machine_model" class="form-label">Machine Model</label>
      <input type="text" minlength="3" maxlength="25" class="form-control" name="machine_model" id="machine_model" required>
    </div>
   
    <button type="submit" class="btn btn-primary">Add Machine</button>
  </form>

{% endblock %}