{% extends "base.html" %}

{% block content %}
  <h3>Edit Task:</h3>

  <form method="POST" action="{{ url_for('edit_task', task_id = task.id) }}">
    <div class="mb-3">
      <label for="task_name" class="form-label">Task Name</label>
      <input type="text" minlength="3" maxlength="25" value ="{{ task.task_name }}" class="form-control" name="task_name" id="task_name" required>
    </div>

    <div class="mb-3">
      <label for="task_description" class="form-label">Task Description</label>
      <input type="text" minlength="3" class="form-control" value ="{{ task.task_description }}" name="task_description" id="task_description" required>
    </div>

    <div class="mb-3">
      <label for="machine_id" class="form-label">Machine Name</label>
      <select name="machine_id" id="machine_id" class="form-select mb-3" required>
        <option value="" disabled selected>Choose Machine</option>
          {% for machine in machines%}
            {% if machine == task.machine %}
              <option value="{{ machine.id }}" selected>{{ machine }}</option>
            {% else %}
              <option value="{{ machine.id }}">{{ machine }}</option>
            {% endif %}
          {% endfor %}
      </select>
    </div>
        
    <button type="submit" class="btn btn-primary mb-4">Edit Task</button>
  </form>

{% endblock %}