{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-9">
            <h3>Tasks:</h3>
            <a href="{{ url_for('add_task') }}" class="btn btn-success">
                Add Task <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">#id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Machine</th>
                </tr>
            </thead>

            <tbody>
                {% for task in tasks %}
                <tr>
                  <td> {{ task.id }}</td>
                  <td>{{ task.task_name }}</td>
                  <td>{{ task.task_description }}</td>
                  <td>{{ task.task_date }}</td>
                  <td>{{ task.task_due_date }}</td>
                  <td>{{ task.machine }}</td>
                  <td>
                    <a href="{{ url_for('edit_task', task_id = task.id) }}" class="btn btn-sm btn-outline-warning">Edit</a>
                    <a href="{{ url_for('delete_task', task_id = task.id) }}" class="btn btn-sm btn-outline-danger">Delete</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}